.footer {
    width: 90vw;
    margin: 0 auto !important;
}

.loading {
    width: 250px;
    height: 100px;
    position: absolute;
    top:50%;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: auto;
}
